/* CSS Component Library Import */
@import url(https://cosmos-ui-cl-ufa.vercel.app/styles/cosmos-ui.css);
@import url(./variables-and-fonts.css);


body {
    color: var(--color-text-primary);
}

.app {
    min-height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
}

.app-light .btn-primary:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}

.app-light .btn-primary {
    background-color:var(--color-primary);
}

.app-dark .btn-primary:hover {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}

.app-dark .btn-primary {
    background-color:var(--color-primary);
    color: var(--color-secondary);   
}

.color-white {
    color: var(--white);
}