/* CSS Component Library Import */
@import url(https://cosmos-ui-cl-ufa.vercel.app/styles/cosmos-ui.css);
@import url(./variables-and-fonts.css);


body {
    color: var(--color-text-primary);
}

.app {
    min-height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
}

.app-light .btn-primary:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}

.app-light .btn-primary {
    background-color:var(--color-primary);
}

.app-dark .btn-primary:hover {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}

.app-dark .btn-primary {
    background-color:var(--color-primary);
    color: var(--color-secondary);   
}

.color-white {
    color: var(--white);
}

.color-error {
    color: var(--color-alert-error-text);
}

.align-self-center {
    align-self: center;
}

.align-self-start {
   align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
 }


.underline {
    text-decoration: underline;
}

.text-truncate {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 90%; 
    max-width: 90%;
    height: fit-content; 
    white-space: nowrap;
}

.grid-container {
    display: grid;
    grid-template-columns: 25 1fr;
    min-height: 100vh;
}

@media screen and (min-width: 480px) {
    .grid-container {
        grid-template-columns: 25rem 1fr;
    }

    .sidebar {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: block;
    }
}