/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* Variables */

:root {
    /* Font Styles */
    font-family: 'PT Sans', sans-serif;

    /* Color Variables */

    /* Body or Main Colors */

    /* Dark Theme Color Variables */
    --color-primary-dark: #99E1D9; 
    --color-secondary-dark: #133B5C;
    --color-tertiary-dark: #86BBD8;
    --color-quarternary-dark: #2C394B;

    --color-bg-dark: #082032;
    --color-primary-bg-dark: #082032;
    --color-secondary-bg-dark: #03172C;
    --color-tertiary-bg-dark: #041C32;

    /* Typography Colors */
    --color-text-primary-dark: var(--white-shade-1);
    --color-text-heading-dark:   var(--white);
    --color-text-sub-heading-dark: var(--white);
    --color-text-dimmed-dark: var(--gray-9);
    --color-text-active-dark: var(--color-tertiary);

    /* Light Theme Color Variables */
    --color-primary-light: #133B5C;
    --color-secondary-light: #2C394B;
    --color-tertiary-light: #86BBD8;
    --color-quarternary-light: #99E1D9;;

    --color-bg-light: #FAFAFA;
    --color-primary-bg-light: #FAFAFA;
    --color-secondary-bg-light: #c5dedd;
    --color-tertiary-bg-light: #041C32;

    /* Typography Colors */
    --color-text-primary-light: var(--black-shade-2);
    --color-text-heading-light:   var(--black);
    --color-text-sub-heading-light: var(--black-shade-1);
    --color-text-dimmed-light: var(--gray-9);
    --color-text-active-light: var(--color-tertiary-dark);


    /* Declarative Commonly used colors */
    --gray-1: #F5F5F5;
    --gray-3: #F1F1F1;
    --gray-4: #D3D3D3;
    --gray-5: #C0C0C0;
    --gray-7: #A9A9A9;
    --gray-9: #808080;
    --gray-10: #303030;
    --black: #000000;
    --white: #FFFFFF;
    --white-shade-1: #FDFDFD;
    --black-shade-1: #181818;
    --black-shade-2: #101010;
    --black-shade-3: #080808;

    /* Background Overlay Color */
    --color-overlay-bg: rgba(0, 0, 0, 0.5);

    /* Shadow Colors */
    --color-shadow-bg: var(--gray-9);

    /* Input Form colors */
    --color-form-element-border: var(--black);
    --color-form-element-border-focus: var(--color-primary-dark);
    --color-form-element-border-error: var(--color-error);
    --color-form-text-placeholder: var(--gray-4);
    --color-form-element-disabled: var(--gray-9);

    /* Feedback Alert Colors */
    --color-warning: #eed202;
    --color-error: #FF0000;
    --color-success: #009E60;
    --color-alert-primary-bg: #7FD2E6;
    --color-alert-primary-text: #29438b;
    --color-alert-secondary-bg: #eaeaec;
    --color-alert-secondary-text: #696b79;
    --color-alert-success-bg: #84f1c9;
    --color-alert-success-text: #1b7052;
    --color-alert-warning-bg: #ffe7c5;
    --color-alert-warning-text: #ff9204;
    --color-alert-error-bg: #fcc5c5;
    --color-alert-error-text: #dc3545;

    /* Badge Colors */
    --color-online: #00FF00;
    --color-offline: #FF0000;
    --color-idle: #D3D3D3;
    --color-badge-bg: #FF0000;
    --color-badge-text: #ffffff;

    /* End of Color Variables*/
}

.app-dark * {
        /* Dark Theme Color Variables */
    --color-primary: #99E1D9; 
    --color-secondary: #133B5C;
    --color-tertiary: #86BBD8;
    --color-quarternary: #2C394B;
    --color-secondary-opaque: rgba(19, 59, 92, 0.6);

    --color-bg: #082032;
    --color-primary-bg: #082032;
    --color-secondary-bg: #03172C;
    --color-tertiary-bg: #041C32;
    --color-secondary-bg-opaque: rgba(3, 23, 44, 0.8);
    --color-modal-bg: var(--color-secondary-opaque);

    /* Typography Colors */
    --color-text-primary: var(--white-shade-1);
    --color-text-heading:   var(--white);
    --color-text-sub-heading: var(--white);
    --color-text-dimmed: var(--gray-9);
    --color-text-dark: var(--black-shade-3);
    --color-text-active: var(--color-tertiary);
}

.app-light * {
        /* Light Theme Color Variables */
    --color-primary: #133B5C;
    --color-secondary: #86BBD8;
    --color-tertiary: #99E1D9;
    --color-quarternary: #2C394B;
    --color-secondary-opaque: rgba(134, 187, 216, 0.6);

    --color-bg: #FAFAFA;
    --color-primary-bg: #FAFAFA;
    --color-secondary-bg: #86BBD8;
    --color-tertiary-bg: #041C32;
    --color-secondary-bg-opaque: rgba(134, 187, 216, 0.8);
    --color-modal-bg: var(--color-secondary-opaque);

    /* Typography Colors */
    --color-text-primary: var(--black-shade-2);
    --color-text-heading:   var(--black);
    --color-text-sub-heading: var(--black-shade-1);
    --color-text-dimmed: var(--gray-9);
    --color-text-dark: var(--black-shade-3);
    --color-text-active: var(--color-tertiary-dark);
}